# Sampling 방법 (Pandas, Sklearn)

In [24]:
import pandas as pd
import sklearn as sk
from sklearn.model_selection import train_test_split

raw_data = {
    "EMP_NO": [1, 2, 3, 4, 5, 6],
    "NAME": ["Alien", "Bill", "Charlie", "Dragon", "Entropy", "False"],
    "SALARY": [1000, 3000, 2000, 5000, 10000, 100],
    "DEPARTMENT": ["IT", "IT", "HR", "IT", "HR", "HR"]
}

df = pd.DataFrame(raw_data)

df.head(5)

   EMP_NO     NAME  SALARY DEPARTMENT
0       1    Alien    1000         IT
1       2     Bill    3000         IT
2       3  Charlie    2000         HR
3       4   Dragon    5000         IT
4       5  Entropy   10000         HR

In [21]:
# SAMPLE 방법 (pandas, sklearn)
random_state = 1234

# sklearn
df_train, df_test = train_test_split(df, train_size=0.8, random_state=random_state)
df_train, df_test

(   EMP_NO     NAME  SALARY DEPARTMENT
 5       6    False     100         HR
 0       1    Alien    1000         IT
 4       5  Entropy   10000         HR
 3       4   Dragon    5000         IT,
    EMP_NO     NAME  SALARY DEPARTMENT
 2       3  Charlie    2000         HR
 1       2     Bill    3000         IT)

In [23]:
# pandas
# sample()
df.sample(
    frac=0.2,
    random_state=random_state
)

# sample + groupby
df.sample(
    n=1,
    random_state=random_state
).groupby("DEPARTMENT").agg(
    {"SALARY": ["mean", "var", "std", "median", "count", "min", "max"]}
)

           SALARY
             mean var std median count   min   max
DEPARTMENT
HR           2000 NaN NaN   2000     1  2000  2000