# 의사결정트리

In [2]:
import pandas as pd
import numpy as np

raw_data = {
    "EMP_NO": [1, 2, 3, 4, 5, 6],
    "NAME": ["Aurora", "Bill", "Charlie", "Dragon", "Entropy", "False"],
    "AGE": [20, 24, 22, 30, 52, 14],
    "SALARY": [1000, 3000, 2000, 5000, 10000, 100],
    "DEPARTMENT": ["IT", "IT", "HR", "IT", "CEO", "HR"]
}

df = pd.DataFrame(raw_data)
df.head(5)

   EMP_NO     NAME  AGE  SALARY DEPARTMENT
0       1   Aurora   20    1000         IT
1       2     Bill   24    3000         IT
2       3  Charlie   22    2000         HR
3       4   Dragon   30    5000         IT
4       5  Entropy   52   10000        CEO

In [14]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

cmodel = DecisionTreeClassifier(random_state=1234).fit(X=df[["SALARY"]], y=df["DEPARTMENT"])
cmodel.predict(df[["SALARY"]]), df["DEPARTMENT"].values

fmodel = DecisionTreeRegressor(random_state=1234).fit(X=df[["SALARY"]], y=df["AGE"])
fmodel.predict(df[["SALARY"]]), df["AGE"].values

(array([20., 24., 22., 30., 52., 14.]),
 array([20, 24, 22, 30, 52, 14], dtype=int64))