# k-means 군집 분석

In [24]:
import pandas as pd
import numpy as np

raw_data = {
    "EMP_NO": [1, 2, 3, 4, 5, 6],
    "NAME": ["Aurora", "Bill", "Charlie", "Dragon", "Entropy", "False"],
    "AGE": [20, 24, 22, 30, 52, 14],
    "SALARY": [1000, 3000, 2000, 5000, 10000, 100],
    "DEPARTMENT": ["IT", "IT", "HR", "IT", "CEO", "HR"]
}

df = pd.DataFrame(raw_data)
df.head(5)

   EMP_NO     NAME  AGE  SALARY DEPARTMENT
0       1   Aurora   20    1000         IT
1       2     Bill   24    3000         IT
2       3  Charlie   22    2000         HR
3       4   Dragon   30    5000         IT
4       5  Entropy   52   10000        CEO

In [25]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

ms = MinMaxScaler().fit(df.drop(["NAME", "DEPARTMENT"], axis=1))
ss = StandardScaler().fit(df.drop(["NAME", "DEPARTMENT"], axis=1))

df[["EMP_NO", "AGE", "SALARY"]] = ms.transform(df.drop(["NAME", "DEPARTMENT"], axis=1))
df[["EMP_NO", "AGE", "SALARY"]] = ss.transform(df.drop(["NAME", "DEPARTMENT"], axis=1))

In [60]:
from sklearn.cluster import KMeans

k = 3
random_state = 1234
max_iter = 99999
model = KMeans(
    n_clusters=k, 
    random_state=random_state, 
    max_iter=max_iter) \
.fit(df.drop(["NAME", "DEPARTMENT", "cluster"], axis=1))

# 군집 중심점
model.cluster_centers_

array([[-1.63951212, -2.16341908, -1.06979135],
       [-1.93228214, -2.20456519, -1.06996039],
       [-1.46385011, -2.22188987, -1.07001879]])

In [44]:
# 각 행이 속한 군집
model.labels_

# 각 행에 군집 열 추가
df["cluster"] = model.labels_