# KNN

In [1]:
import pandas as pd
import numpy as np

raw_data = {
    "EMP_NO": [1, 2, 3, 4, 5, 6],
    "NAME": ["Aurora", "Bill", "Charlie", "Dragon", "Entropy", "False"],
    "AGE": [20, 24, 22, 30, 52, 14],
    "SALARY": [1000, 3000, 2000, 5000, 10000, 100],
    "DEPARTMENT": ["IT", "IT", "HR", "IT", "CEO", "HR"],
    "PROMOTION": [1, 1, 1, 0, 0, 1]
}
df = pd.DataFrame(raw_data)
df.head(5)

   EMP_NO     NAME  AGE  SALARY DEPARTMENT  PROMOTION
0       1   Aurora   20    1000         IT          1
1       2     Bill   24    3000         IT          1
2       3  Charlie   22    2000         HR          1
3       4   Dragon   30    5000         IT          0
4       5  Entropy   52   10000        CEO          0

In [17]:
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor

cmodel = KNeighborsClassifier(n_neighbors=3).fit(X=df[["AGE", "SALARY"]], y=df["PROMOTION"])
cmodel.predict(df[["AGE", "SALARY"]]), df["PROMOTION"].values

cmodel = KNeighborsClassifier(n_neighbors=3).fit(X=df[["AGE", "SALARY"]], y=df["PROMOTION"])
fmodel = KNeighborsRegressor(n_neighbors=1).fit(X=df[["AGE"]], y=df["SALARY"])
fmodel.predict(df[["AGE"]]), df["SALARY"].values

(array([ 1000.,  3000.,  2000.,  5000., 10000.,   100.]),
 array([ 1000,  3000,  2000,  5000, 10000,   100], dtype=int64))