# 단순 회귀분석

## statsmodel - ols()

In [3]:
import pandas as pd
import numpy as np

raw_data = {
    "EMP_NO": [1, 2, 3, 4, 5, 6],
    "NAME": ["Aurora", "Bill", "Charlie", "Dragon", "Entropy", "False"],
    "AGE": [20, 24, 22, 30, 52, 14],
    "SALARY": [1000, 3000, 2000, 5000, 10000, 100],
    "DEPARTMENT": ["IT", "IT", "HR", "IT", "CEO", "HR"]
}

df = pd.DataFrame(raw_data)
df = df.drop(columns=["NAME", "DEPARTMENT"])
df.head(5)

   EMP_NO  AGE  SALARY
0       1   20    1000
1       2   24    3000
2       3   22    2000
3       4   30    5000
4       5   52   10000

In [25]:
from statsmodels.formula.api import ols

# fomula="종속변수 ~ 독립변수"
model = ols(formula="SALARY ~ AGE", data=df).fit()
model.summary()

model.predict(pd.DataFrame({"AGE": [30]}))

c:\Users\juwon\AppData\Local\Programs\Python\Python37\lib\site-packages\statsmodels\stats\stattools.py:71: ValueWarning: omni_normtest is not valid with less than 8 observations; 6 samples were given.
  "samples were given." % int(n), ValueWarning)

0    4321.51994
dtype: float64

## sklearn - LinearRegression()

In [31]:
from sklearn.linear_model import LinearRegression

model = LinearRegression().fit(X=df[["AGE"]], y=df["SALARY"])

In [52]:
from sklearn.metrics import mean_absolute_error, mean_squared_error


x_test = pd.DataFrame({"AGE": [10, 20, 30, 40, 50, 60]})[["AGE"]]
model.predict(x_test)

mean_squared_error(y_true=df[["AGE"]], y_pred=x_test)

400.0